:root {
  --main-font: helvetica, calibri, sans-serif;
  --nav-link: #4d1d18;
  --nav-link-hover: #555555;
  --main-heading: #87423c;
  --main-heading-size: 36px;
  --sub-heading: #4d1d18;
  --sub-heading-size: 24px;
  --line-height: 150%;
  --content-link: #87423c;
  --footer-link: #87423c;
  /* theme colours */
  --primary-color: #682721ff;
  --light: #d3c4b1ff;
  --primary-mid: #99706cff;
  --secondary-color: #506d51ff;
  --grey: rgb(173, 174, 173);
}

html {
  min-height: 100vh;
}

body {
  font-family: var(--main-font);
  background-color: var(--light);
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.header {
  display: grid;
  grid-template-rows: auto auto;
}
.logo {
  width: 350px;
}
.home-link {
  justify-self: center;
}
#navbutton {
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: var(--nav-link);
  background-color: transparent;
  border: 1px solid var(--nav-link);
  display: none;
}
.navigation {
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navigation a {
  text-decoration: none;
  color: var(--nav-link);
  padding: 0.8rem;
}
.navigation a:hover {
  color: var(--nav-link-hover);
}
.navigation a.active {
  font-weight: bold;
}
.content {
  max-width: 1024px;
  /* background-color: white; */
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
#video {
  width: 100%;
  height: 540px;
  grid-column: span 3;
}
img {
  max-width: 100%;
}
.column {
  grid-column: span 1;
  position: relative;
}
.column img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.column h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}
.footer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  background-color: var(--grey);
  padding: 1rem 2rem;
}
.privacy {
  grid-row-start: 2;
  grid-column-start: 1;
}
.privacy a {
  text-decoration: none;
  color: var(--footer-link);
}
.social {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: end;
}
.social a {
  color: var(--footer-link);
  text-decoration: none;
  font-size: 2rem;
}
.copyright {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: end;
}

/* contact page */
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1em;
  max-width: 960px;
  margin: auto;
}

.contact-text {
  grid-column-start: 1;
  grid-column-end: 3;
}
.contact-text a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  background-color: var(--primary-color);
  color: white;
}
.contact address {
  margin: 1em 0;
}

#contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7,auto);
}

#contact-form label {
  grid-column: span 2;
  align-self: end;
}
#contact-form input {
  grid-column: span 2;
  align-self: start;
}
#contact-form textarea {
  grid-column: span 2;
  align-self: start;
}
#contact-form button {
  align-self: end;
}
