:root {
  --main-font: helvetica, calibri, sans-serif;
  --nav-link: #4d1d18;
  --nav-link-hover: #555555;
  --main-heading: #87423c;
  --main-heading-size: 36px;
  --sub-heading: #4d1d18;
  --sub-heading-size: 24px;
  --line-height: 150%;
  --content-link: #87423c;
  --footer-link: #87423c;
  /* theme colours */
  --primary-color: #682721ff;
  --light: #d3c4b1ff;
  --primary-mid: #99706cff;
  --secondary-color: #506d51ff;
  --grey: #c6c8c4ff;
}

html {
  min-height: 100vh;
}

body {
  font-family: var(--main-font);
  background-color: var(--light);
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.header {
  display: grid;
  grid-template-rows: auto auto;
}
.logo {
  width: 350px;
}
.home-link {
  justify-self: center;
}
.navigation {
  justify-self: center;
}